.about {
    text-align: center;
    margin-top: 70px;
    color: white;
    font-size: 15pt;
}

.backgroundoverlayabout {
    background-color: rgba(37, 37, 37, 0.705);
    width: 1200px;
    height: 300px;
    margin: auto;
    border-radius: 25px;
    padding: 30px;
}