.contact {
    text-align: center;
    color: white;
    margin-top: 70px;
}



.contactdesc {
    font-size:15pt;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: 10px;
    width: 350px;
    margin-left: 170px;
    margin-top: 50px;
    color: white;
}

#submitbutton {
    width: 150px;
    margin-top: 20px;
}

.backgroundoverlaycontact {
    background-color: rgba(37, 37, 37, 0.705);
    width: 800px;
    height: 650px;
    margin: auto;
    border-radius: 25px;
    padding: 30px;
}

.mb-3 {
    text-align: left;
    
}

.formsubmit {
    background-color: green;
    border-color: green;
    margin-top: 20px;
    font-size: 15pt;
    width: 100px;
}

.formsubmit:hover {
    background-color:darkgreen;
    border-color: darkgreen;
}

.dinoheadicon {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.icons8anchortag {
    font-size: 2pt;
}