.icons8 {
    font-size: 3pt;
}

body {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/439/1023/815/nature-animals-dinosaurs-prehistoric-wallpaper-preview.jpg');
    /* background-repeat: none; */
    /* background-position: center; */
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

